<h4>
    <br> Criando um bloco de post usando Herança
</h4>
<h5> Criamos um arquivo html para o post dentro da pasta base </h5>
<br>
<p>Com o arquivo criado escrevemos o que queremos no post, salvamos o arquivo, podemos salvar na pasta partial, se parecer conveniente.</p>
<br>
<article class="post">
    <header>
        <h2 class="post__title">
        <h1>Titulo do post</h1>
        Podemos definir qualquer titulo
        </h2>
    </header>
    <div class="post__content">
        <br>
        <h5>Conteudo do post</h5>
        E ao mesmo tempo qualquer conteudo, conforme a necessidade.
        

    </div>
    <br>
</article>