{% load static %}<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Primeiro site com Django</title>
    <link rel="stylesheet" href="{% static 'global/css/style.css' %}">
  </head>
  <body>
    <h1>Primeiro site do valtinho !!!!</h1>
    <p>Adicionamos 3 rotas basicas para entender o conceito de template global, logo abaixo veremos um atalho para essas 3 rotas diferentes, sendo a rota exemplo aninhada com a rota blog</p>