<h1>
    Agora vamos fazer um partial postblock usando include.
</h1>
<h3>Mas o que são postblocks?</h3>
<br>
<p>São posts dentro de uma pagina, podemos imaginar um blog, por isso são postblock, porque são blocos de post</p>
<br>
<article class="post">
    <header>
        <h2 class="post__title">
        <h1>Titulo do post</h1>
        Lorem ipsum dolor sit amet.
        </h2>
    </header>
    <div class="post__content">
        <br>
        <h5>Conteudo do post</h5>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Suscipit saepe vitae culpa fugit dolor ipsam labore, nobis voluptatum vero exercitationem!
    </div>
</article>